.header {
    background-color: #ffffff !important;
}

.navbar {
    background-color: transparent !important;
    padding: 1rem 1rem;
}

.navbar-brand {
    font-family: "Playball";
    font-size: 30px;
    color: #F5C800 !important;
}

body {
    background-color: #f8f8f8;
}

.container {
    margin-top: 20px;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: none;
}