/* Navbarのスタイル */
.header {
    background-color: #ffffff !important;
}

.navbar {
    background-color: transparent !important;
    padding: 1rem 1rem;
    /* パディングの調整 */
}

.navbar-brand {
    font-family: "Playball";
    font-size: 30px;
    color: #F5C800 !important;
}

/* 全体の背景色 */
body {
    background-color: #f8f8f8;
}

/* コンテナのスタイル */
.container {
    margin-top: 20px;
    /* 上部のマージン */
}

/* 文字の下線を消す */
.navbar a {
    text-decoration: none;
    /* 下線を消す */
}

.navbar a:hover {
    text-decoration: none;
    /* ホバー時も下線を消す */
}